# Ignore Python bytecode files
__pycache__/

# Ignore environment files
.env

# Ignore system-specific files
*.DS_Store
Thumbs.db

# Ignore IDE or editor-specific files
.vscode/
*.code-workspace

# Ignore Python virtual environment
venv/

.idea
